.ui.dropdown.search .menu>.message {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 1000;
}
td.highlightt {
    background-color: whitesmoke !important;
}
div#table_id_wrapper {
    padding: 20px;
}